.smain { 
	display: block;
}
.fadeOut.owl-carousel {
	display: none;
}

.list span, .btn {
  transition: all 200ms,transform 200ms;
  -moz-transition: all 200ms,-moz-transform 200ms;
  -webkit-transition: all 200ms,-webkit-transform 200ms;
  -o-transition: all 200ms,-o-transform 200ms;
}
body {
	font-size: 18px;
	font-family: 'Lato', arial, sans-serif;
}
h1 {
	font-size: 45px;
	position: relative;
}
h1 span {
	font-size: 23px;
	
	line-height: 48px;
}
.head {
	font-size: 52px;
	color: #302c59;
	width: 100%;
	text-align: center;
}
h1+p, h1+p+p {
	font-size: 18px;
	
	margin-top: 35px;
	line-height: 30px;
}
.debitcardimg {
	max-width: 100%;
	width: 100%;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0px;
}
.container {
	display: table;
	height: 100%;
	width: 100%;
}
.wrapper {
	max-width: 1400px;
	width: 1024px;
	margin: 0 auto;
	clear: both;
}

.all-right-div {
	padding: 13px 0;
	margin-top: 80px;
	border-top: 1px solid #dadada;
	color: #c7c7c7;
	
}

.pg-footer {
	width: 100%;
	background: #eeeeee;
	display: inline-block;
	padding-top: 70px;
}
.pg-footer li a {
	color: #646464;
	padding: 13px 0;
	display: inline-block; 
}
.ta-center {
	color: #302c59;
	margin: 100px auto;
	text-align: center;
}
.pg-navbar {
	padding-top: 30px;
	width: 100%;
	text-align: right;
}
.pg-navbar a {
    float: left;
}
.nav-links {
	display: inline-block;
    margin-top: 14px;
}
.nav-links li {
	float: right;
}
.nav-links li a{
	color: #322c58;
}
.div-75 {
	float: left;
	width: 75%;
}
.div-60 {
	float: left;
	width: 60%;
}
.div-50 {
	width: 50%;
	float: left;
}
.div-100 {
	width: 100%;
	float: left;
}
.div-40 {
	width: 40%;
	float: left;
}
.div-30 {
	width: 30%;
	float: left;
}
.div-25 {
	width: 25%;
	float: left;
}
/*  Div coloums */
.coloum3 >div{
	width: 33.3333%;
	float: left;
}
.container [class*='div']{
    display: table-cell;
    vertical-align: middle;
    float: none;
	position: relative;
	z-index: 1;
}
.t-center {
	text-align: center;
}

.banking-should h1 {
	color: #312b59;
}
.quick-should h1, .whats-now h1{
	color: #57557a
}
.available a{
	float: left;
	margin-top: 25px;
}
.banking-should {
	/*padding: 100px 0;*/
	height: 80%;
}
.banking-should img {
	width: 200px;
}
.getting-card {
	background: #302c59;
	color: #ffffff;
	height: 570px;
}
.safe-secure {
	height: 630px;
	background: url("../img/safe-bg.jpg") no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	color: #ffffff;
	position: relative;
	text-align: center;
}
.safe-secure:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(48,44,89,0.9);
}
.box-720 {
	width: 720px;
	margin: 0 auto

}
.safe-secure p {
	margin-bottom: 80px;
	line-height: 35px
}
.btn {
	display: inline-block;
	padding: 15px;
	
	text-align: center;
	border: 1px solid transparent;
	background-color: transparent;
	font-size: 11px;
	text-transform: uppercase;
	min-width: 150px;
	letter-spacing: 2px;
}
._trans {
	color: #ffffff;
	border-color: rgba(139,135,154, .6);
}
._trans:hover {
	background: rgba(139,135,154, .6);
}
._cuatro {
	color: #ffffff;
	background-color: #302c59;
	border-color: rgba(139,135,154, .6);
}
._cuatro:hover {
	background-color: #57557A;
}
._uno {
	color: #302c59;
	border-color: #302c59;
}
._uno.features {
	border-color: transparent;
}
._uno:hover, ._uno.features:hover {
	color: #ffffff;
	background-color: #57557A;
}
.waypad {
    padding-left: 100px;
}

.input-text {
	font-size: 18px;
	text-align: center;
	
	padding:20px 0;
	width: calc(100% - 100px);
	outline: 0;
	margin: 50px 0 30px;
}
.quick-should {
	padding: 0 0 50px;
}
.list  {
	width: 100%;
	display: inline-block;
	margin: 10px 0 0;
	text-align: center;
}
.list > span {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	vertical-align: top;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.list i{
	position: relative;
	display: inline-block;
	width: 100%;
}
.list span:hover, .list span.active {
	color: #302c59;
	background: #fce84a;
	box-shadow: 0 0 0 10px #fce84a;
}

/*contact us*/
.contact-us {
	background: #fce84a;
}
.contact-us .page-head {
	text-align: center;
	color: #2f2c58;
	height: 295px;
	display: table;
	width: 100%;
}
.contact-us .page-head>div {
	display: table-cell;
	vertical-align: middle;
}

.contact-us-details {
	text-align: center;
	margin: 110px 0;
	display: inline-block;
	width: 100%;
	color: #4c4c4c;
}
.contact-us-details h3 {
	font-size: 20px;
	color: #302c59;
	margin: 30px 0;
}
.contact-us-details p {
	font-size: 18px;
	line-height: 30px;
}
.contact-us-details .icon {
	display: inline-block;
	width: 55px;
}.contact-us-details .icon svg {
	fill: #302c59;
}
.contact-us-details p a {
	border-bottom: 1px solid #cfcfcf;
	display: inline-block;
	padding-bottom: 8px;
	margin-bottom: 8px;
	color: #4c4c4c;
}

/*Faq*/
.faq {
	background: url("../img/safe-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	color: #ffffff;
	position: relative;
}

.faq:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(48,44,89,.8); 
}
.faq .wrapper {
	position: relative;
	z-index: 1;
}
.faq .nav-links li a {
	color: #ffffff
}
.faq .nav-links li a._uno {
	background: #ffffff;
	color: #322c58
}

.faq .page-head {
	text-align: center;
	display: table;
	position: relative;
	height: 290px;
	z-index: 1;
	width: 100%;
}
.faq .page-head>div {
	display: table-cell;
	vertical-align: middle;
}
.faq .yellow-br:after {
	left: 40%;
}
.faq-list a{
	display: inline-block;
	padding: 28px 0 15px;
	font-size: 16px;
	color: #666666;
	border-bottom: 1px solid #f1f1f1;
	width: 100%;
}
.faq-list a._active {
	color: #302c59;
	position: relative;
}
.faq-list a._active:after {
	content: "";
	position: absolute;
	bottom: 14px;
	right: 10px;
	border: 8px solid transparent;
	border-left-color: #302c59;
}
.faq-list a:hover {
	color: #302c59;
}
.faq-container .div-25{
	padding-right: 40px;
}
.faq-container .div-75{
	padding-left: 40px;
}
.faq-container {
	padding: 100px 0;
	font-size: 14px;
}
.faq-container .block {
	display: none;
}
.faq-container .block h1 {
	font-size: 30px;
	font-weight: normal;
}
.faq-container .block .box {
	margin-top: 60px;	
}
.faq-container .question {
	font-size: 18px;
	color: #302c59;
	margin-bottom: 30px;
}
.faq-container .answer {
	font-size: 14px;
	line-height: 22px;
}
.faq-container .block .yellow-br {
	margin-bottom: 50px;
}
.faq-container .block .yellow-br:after {
	bottom: -25px;
	width: 60px;
}
/* Resposive code starts here */
@media (max-width: 1024px) {
	.wrapper  {
		width: 90%;
	}
}
@media (max-width: 720px) {
	/*Coloums 100*/
	.coloum3>div {
		width: 100%;
	}
	/*Div 100*/
	.div-25, .div-30,.div-40,.div-50,.div-60, .box-720 {
		width: 100%;
		float: left;
	}
	.container .div-25, .container .div-30, .container .div-40, .container .div-50,.div-60, .container .box-720{
		display: inline-block !important;
		width: 100%;
		float: left;
		padding: 20px 0;
		text-align: center;
	}
	h1.yellow-br:after{
		left: 40%;
	}
	.banking-should {
		padding: 50px 0;
		height: auto;
	}
	.pg-navbar {
		text-align: center;
	}
	.nav-links {
		display: none;
	}
	.getting-card {
		height: auto;
		padding-bottom: 40px;
	}
}
h1.yellow-br {
	margin-bottom: 80px;
}
h1.blue-br {
	margin-bottom: 70px;
}
.yellow-br:after{
	content: "";
	position: absolute;
	width: 20%;
	height: 3px;
	background: #fce84a;
	bottom: -40px;
	left: 0;
}
.blue-br:after{
	content: "";
	position: absolute;
	width: 20%;
	height: 3px;
	background: #2f2c58;
	bottom: -40px;
	left: 40%;
}
.safe-secure h1.yellow-br:after{
	left: 40%;
}

/* More to come */

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.more-to-come {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}
.more-to-come span {
	width: 40px;
	display: inline-block;
}

*/

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}

/*sameer*/
.owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}
.owl-controls {
	    position: absolute;
    top: 47%;
    right: -30px;
}
.smain {
	display: block;
	padding: 0px 0 0;
	position: relative;
}
.container.smain [class*='div'] {
    display: inline-block;
    float: none;
    z-index: 1;
}
.container.smain .div-60 {
    width: 57%;
    margin-left: 43%;
    top: -580px;
    z-index: -18;
}
.scontent div {
	padding: 380px 0 160px;
}
.scontent {
    margin-top: -150px;
}
.smobile {
	width: 275px;
	height: 510px;
	background: url(../img/mobile-1.png) no-repeat 0;
}
.smobile.firstphone {
	background-position: 0px 0px;
}
.smobile.secondphone {
	background-position: 0px -510px;
}
.smobile.thirdphone {
	background-position: 0px -1020px;
}
.smobile.fourthphone {
	background-position: 0px -1530px;
}
.smobile.fifthphone {
	background-position: 0px -2040px;
}
.sameer {
    padding: 30px;
    background-color: #fff;
}
.sameer a {
	position: relative;
	z-index: 999;
}
.fadeOut.owl-carousel .item {
    text-align: center;
    padding: 30px 0 40px;
}
.fadeOut.owl-carousel .item h1 {
    padding-top: 10px;
}
.fadeOut.owl-carousel.faqsam.faq-container .item
	{
		display: block;
	    width: inherit;
	    cursor: pointer;
	    text-align: left;
	    padding: 10px 0px 10px 40px;
	    margin-bottom: 30px;
	    background: url(../img/More.png) no-repeat 0 center;
	}

.fadeOut.owl-carousel.faqsam.faq-container .item-data
	{
		display : none ; 
		width : inherit ;
		height : auto ;
		border: 1px solid #ccc;
		padding: 0 20px 20px;
	    margin-bottom: 30px;
	}
.faqsam h1.item {
	text-align: center;
    padding: 30px 0 40px;
    color: #000;
    border: 0;
    font-size: 30px;
	background: transparent;
}	
.fadeOut.owl-carousel.faqsam.faq-container {
    padding-top: 30px;
}
.faq .nav-links li a._uno.faqbtn:hover {
	color: #ffffff;
    background-color: #57557A;
} 
.faq .nav-links li a.features.faqbtn {
	color: #fff;
    background-color: transparent;
} 
.faq .nav-links li a.features.faqbtn:hover {
	color: #57557A;
    background-color: #fff;
    border-color: #322c58;
} 
@media all and (max-width: 768px) {
	body {
		font-size: 17px;
		font-family: 'Lato', arial, sans-serif;
	}
	h1 {
		font-size: 38px;
		position: relative;
	}
	h1 span {
		font-size: 22px;
		
		line-height: 48px;
	}
	.head {
		font-size: 42px;
		color: #302c59;
		width: 100%;
		text-align: center;
	}
	h1+p {
		font-size: 18px;
		
		margin-top: 35px;
		line-height: 30px;
	}
}

@media all and (max-width: 720px) {
	.pg-navbar a {
	    float: none;
	}
	.smain { 
		display: none;
	}
	.fadeOut.owl-carousel {
		display: block;
	}
	.owl-controls {
	    position: relative;
	    top: 0;
	    right: 0;
	    text-align: center;
	}	
	.owl-dot {
	    display: inline-block;
	}
	.waypad {
		padding-left: 0;
	}
	img {
		max-width: 100%;
	}
}

@media all and (max-width: 480px) {
	body {
		font-size: 15px;
		font-family: 'Lato', arial, sans-serif;
	}
	h1 {
		font-size: 30px;
		position: relative;
	}
	h1 span {
		font-size: 19px;
		
		line-height: 48px;
	}
	.head {
		font-size: 42px;
		color: #302c59;
		width: 100%;
		text-align: center;
	}
	h1+p {
		font-size: 18px;
		margin-top: 35px;
		line-height: 30px;
	}
}